*{
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, rgb(7, 242, 234), rgb(18, 169, 151));
    height: 80%;
    border-radius: 20px;
}
.container input {
  
    width: 70%;
    height: 30px;
    border: none;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
    text-indent: 15px;
    
}

.exercise-container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.image-container {

    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {

    height: 100%;
}

button{
    width: 35%;
    height: 30px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
}
button:hover{
    color: white;
    background-color: rgb(43, 133, 251);
}
.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 0 0 ;
    line-height:0.5px;
    
}