.grid{
    width: 300px;
    height: 300px;
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    width: 20px;
    height: 20px;
}

.invader{
    background-color: rgb(165, 42, 144);
    border-radius: 15px;
}

.shooter{
    background-color: rgb(97, 139, 30);
}